body {
    font-family: Arial, sans-serif;
  background: linear-gradient(to right,#3f5efb,#fc466b);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border:none;
    border:none;
    color:blue;
    border-bottom: 1px solid;

}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
a{
	   text-align: center;
}